.gridContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 2rem;
}

.selected {
  pointer-events: none;
  background-color: var(--primary-color);
  color: #000;
}
.searchTypeButtons {
  align-self: center;
  display: flex;
  gap: 12px;
}

.capsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  width: 100%;

  form {
    align-self: center;
  }
}

.serachForm {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 0.5rem;
  background: var(--container-bg-color);
  max-width: 500px;
  border-radius: 12px;
  width: 100%;
  svg {
    color: var(--primary-color);
    height: 24px;
    width: auto;
  }

  input {
    padding: 8px;
    font-family: inherit;
    background: transparent;
    border: none;

    font-size: 14px;
    max-width: 500px;
    width: 100%;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  button {
    background: var(--primary-color);
    font-size: 14px;
    color: #000;
    transition-duration: 0.3s;

    &:hover {
      background: #6e8294;
      color: #000;
    }
  }
}
