.capDialog {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  img {
    width: 200px;
    height: auto;
    border-radius: 12px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.price {
  color: var(--primary-color);
}

.errorDialog {
  display: flex;
  flex-direction: column;

  h3 {
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    align-items: center;
    gap: 0.5rem;
    color: rgb(207, 141, 163);

    svg {
      height: 45px;
      width: auto;
    }
  }
}
